<main class="main">
    {{> heading/index title="Мої замовлення" }}
    {{#each data.list}}
    <a href="/purchase-info?id={{id}}">
        <div class="my-purchase">
            <span class="my-purachase__id">ID: {{id}}</span>
            <span class="my-purachase__title">Назва:<p>{{title}}</p></span>
            <span class="my-purachase__totalPrice">Ціна:<p>{{totalPrice}}</p></span>
            <span class="my-purachase__bonusAdd">Бонкусів нараховано:<p>{{bonusAdd}}</p></span>
        </div>
    </a>
    {{>divider/index}}



    {{/each}}

</main>