<main class="main">
    {{#with data}}
    <div class="main__content">
        <h1 class="title title--center">Додати до плейлиста</h1>
        <ul class="track__list">
            {{#each tracks}}

            <li class="track">
                <img src="{{image}}" alt="track image">
                <div class="track__content">
                    <strong class="track__name">{{name}}</strong>
                    <em class="track__author">{{author}}</em>
                </div>
                <a href="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}">
                    <img src="/svg/add_icon.svg" alt="add button">
                </a>
            </li>

            {{/each}}
        </ul>
    </div>
    {{/with}}
</main>