<main class="main">
    {{#with data}}
    <div class="main__conten">
        <h1 class="title title--center">Пошук плейлиста</h1>


        <form method="post" action="/spotify-search" class="search">
            <img src="/svg/search.svg" alt="search">
            <input required type="search" class="search__field" placeholder="Введіть запит" name="value"
                value="{{value}}">
            <button class="search__button">Пошук</button>
        </form>

        <ul class="playlist__list">
            {{#each list}}

            <li class="playlist">
                <img src="{{image}}" alt="{{name}}">
                <div class="playlist__content">
                    <strong class="playlist__name">{{name}}</strong>
                    <span class="playlist__amount">Кількість пісень: {{amount}}</span>
                </div>
            </li>

            {{/each}}
        </ul>

    </div>


    {{/with}}
</main>